* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto";
}

header {
    width: 100%;
    height: 96px;
}

.imagemprincipal {
    width: 100%;
}

.headertop {
    width: 100%;
    height: 40px;
    background-color: #161616;
    display: flex;
    justify-content: right;
    align-items: center;
}

.caixaicones {
    margin-right: 32px;
    height: 100%;
    display: flex;
    align-items: center;
}

.usuario {
    padding: 8px;
    width: 40px;
    height: 40px;
}

.usuario:hover .usuariohover {
    cursor: pointer;
    fill: white;
}

.interrogacao {
    margin-left: 24px;
    width: 18px;
    height: 18px;
    fill: #7c7c7c;
}

.interrogacao:hover {
    cursor: pointer;
    fill: white;
}

.ea {
    width: 40px;
    height: 40px;
    fill: #7c7c7c;
    margin-left: 30px;
    margin-right: 32px;
}

.ea:hover {
    cursor: pointer;
    fill: white;
}

.headerbottom {
    width: 100%;
    height: 56px;
    background-color: black;
    display: flex;
    align-items: center;
}

.caixalogo {
    margin-left: 48px;
    margin-right: 36px;
}

.logo {
    height: 32px;
}

.logo:hover {
    cursor: pointer;
}

.span {
    margin-left: 20px;
    color: #f3f3f3;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.span:hover {
    cursor: pointer;
    color: rgb(127, 80, 180);
    transition: all 0.2s;
}

.caixajogar {
    width: 176.5px;
    height: 44px;
    background-color: rgb(127, 80, 180);
    position: absolute;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixajogar:hover {
    cursor: pointer;
}

.jogue {
    color: white;
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.traco {
    margin-left: 5px;
    width: 26px;
    height: 19px;
}

.baixo {
    transform: scaleY(1);
    transition: all 0.3s;
}

.caixajogar:hover .baixo {
    transform: scaleY(-1);
    transition: all 0.3s;
}

.caixaimagem {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixacentral {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h2 {
    color: white;
    font-size: 19px;
    font-weight: 100;
}

.buttons {
    display: flex;
    margin-top: 21px;
    width: 100%;
    justify-content: center;
}

.img_banner {
    transition: all 0.1s;
}

.img_banner:hover {
    transition: all 0.1s;
    transform: scale(1.06);
    cursor: pointer;
}

.containerzumbis {
    width: 100%;
    display: flex;
    justify-content: center;
}

.zumbisdevolta {
    width: 80%;
    display: flex;
}

.divisao50 {
    width: 50%;
}

.zumbisdevolta50 {
    width: 100%;
    padding-left: 18%;
    margin-right: 28px;
    padding-top: 10%;

}

.zumbisdevolta50_1 {
    width: 100%;
    padding-right: 18%;
    padding-top: 10%;
}

.imgmaozumbi {
    width: 100%;
}

.h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 26px;
    font-weight: 100;
    margin-bottom: 21px;
}

.textozumbis {
    font-family: Arial, Helvetica, sans-serif;
    margin: 16px 0px;
    line-height: 27px;
    font-size: 17.8px;
    color: #505050;
}

.containermain {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 56px;
}

.containercentro {
    width: 80%;
}

.containernovidades {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.i {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 34px;
    font-weight: 600;
}

.caixas {
    width: 100%;
    margin-top: 56px;
    display: flex;
}

.caixinha {
    width: 33.33%;
    padding: 0px 8px;
}

.caixinhainha {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 24px;
}

.caixinhainhainha {
    display: flex;
    flex-direction: row;
}

.spannovidades {
    margin-right: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    font-weight: bold;
}

.f {
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 6px;
    font-size: 22px;
}

.descricaonovidades {
    margin-top: 6px;
    font-family: 'Roboto', sans-serif;
    line-height: 25px;
    color: #505050;
    font-weight: 400;
}

.containerbotaonoticias {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caixanoticias {
    height: 44px;
    background-color: rgb(127, 80, 180);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 24px;
    border-radius: 3px;
    transition: all 0.1s;
}

.caixanoticias:hover {
    transition: all 0.1s;
    transform: scale(1.01);
    cursor: pointer;
}

.footertop {
    margin-top: 40px;
    padding: 12px 76px;
    background-color: #252525;
    color: #161616;
    font-size: 18px;
}

.footerdescricao {
    display: flex;
    justify-content: space-between;
    padding-bottom: 28px;
    margin: 0px 38.5px;
    border-bottom: 1px solid #595959;
}

.links {
    margin-top: 11px;
    display: flex;
}

.caixalink {
    margin-top: 8px;
    margin-bottom: 5px;
    width: fit-content;
    height: fit-content;
}

.footerlink {
    transition: all 0.2s;
    text-decoration: none;
    color: #a3a3a3;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;   
    margin: 8px 40px 5px 0px;
    margin-top: 59px;
}

.footerlink:hover {
    transition: all 0.2s;
    color: rgb(127, 80, 180);
}

.conversa {
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    color: #f7f7f7;
    margin: 24px 0px 9px;
    font-weight: bold;
}

.icons {
    display: flex;
}

.svgfooter {
    transition: all 0.3s;
}

.svgfooter:hover {
    cursor: pointer;
    transition: all 0.3s;
    transform: scale(1.25);
}

.popcap {
    margin: 28px 0px 56px 38.5px;
}

.popcap:hover {
    cursor: pointer;
}

.footerbottom {
    padding: 15px 93px 40px;
    background-color: #161616;
}

.footerea {
    position: relative;
    display: flex;
    max-width: 1120px;
    margin: auto;
    margin-bottom: 12px;
}

.imgea {
    width: 49px;
    height: 117px;
}

.container_procurejogos {
    margin-left: 32px;
}

.procurejogos {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.linksbottom {
    display: flex;
}

.linkscaixabottom {
    margin-right: 48px;
    margin-top: 16px;
    margin-bottom: 10px;
}

.spanbottom {
    color: #a3a3a3;
    line-height: 112%;
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;    
    font-weight: 600;
}

.brasil {
    position: absolute;
    right: 0px;
    background-color: transparent;
    padding: 8px 24px;
    border: 2px solid #585858;
    border-radius: 3px;
    height: 48px;
}

.brasil:hover .baixocor {
    fill: white;
}

.divisaobutton {
    display: flex;
    align-items: center;
    width: 100%;
}

#brasil {
    margin: 0px 8px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 94px;
    text-align: start;
}

.direitos {
    height: 79px;
}

.avisos {
    display: block;
    width: 640px;
    height: 100%;

}

.avisos_text {
    color: #a3a3a3;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 32px 6px 0px;
    line-height: 28px;
}

.hover2 {
    cursor: pointer;
}